<?xml version="1.0" encoding="UTF-8"?>
 
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.aeris.ipfw</string>
    <key>Program</key>
    <string>/sbin/ipfw</string>
    <key>ProgramArguments</key>
    <array>
      <string>/sbin/ipfw</string>
      <string>-q</string>
      <string>/etc/ipfw.conf</string>
    </array>
    <key>RunAtLoad</key>
    <true></true>
  </dict>
</plist>